# Lines starting with '#' are considered comments.
# List of files to ignore:
Makefile
*.[oa]
sa1
sa2
sysstat
crontab
version.h
sysconfig.h
sysstat.sysconfig
sysstat.service
sysstat.crond
sysstat.cron.daily
sysstat.cron.hourly
sysstat.crond.sample
sysstat.crond.sample.in
contrib/isag/isag
man/sa1.8
man/sa2.8
man/sadc.8
man/sysstat.5
man/sadf.1
man/sar.1
man/iostat.1
man/cifsiostat.1
man/nfsiostat.1
*.log
config.status
autom4te.cache/
*.save
*.old
.*.swp
data
*~
man/*~
build/*~
sadc
sar
sadf
iostat
mpstat
pidstat
nfsiostat
cifsiostat
core
TAGS
nls/*.gmo
