# /usr/lib/systemd/system/sysstat-rotate.service
# (C) 2023 Sebastien Godard <sysstat_at_orange_dot_fr>
#
# sysstat-12.7.5 systemd unit file:
#        Rotate daily system activity data file
#        Activated by sysstat-rotate.timer unit

[Unit]
Description=system activity accounting tool
Documentation=man:sa1(8)
After=sysstat.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/lib64/sa/sa1 --rotate
